.home-container {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px 0px 20px;

  .card {
    width: 46%;
  }

  .card-content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .rankings {
    width: 48%;
  }

  @media only screen and (max-width: 1200px) {
    .card-content {
      flex-direction: column;
      justify-content: center;
    }

    .rankings {
      width: 100%;
    }

    .ranking-lowest {
      margin-top: 30px;
    }
  }

  @media only screen and (max-width: 980px) {
    & {
      flex-direction: column;
      padding-right: 50px;
      padding-left: 50px;
    }

    .card {
      width: 100%;
    }

    .tops {
      margin-top: 30px;
    }
  }

  @media only screen and (max-width: 720px) {
    & {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}
