@import "../../assets/utilities/variables.scss";

.header {
  width: 100vw;
  height: 60px;
  background: linear-gradient(340deg, $dark-pink 39%, $red 100%);
  display: flex;
  justify-content: center;

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 80px;
    padding-left: 80px;

    .company-logo {
      display: flex;
      align-items: center;

      .logo {
        height: 44px;
        width: 44px;
      }

      .app-name h1 {
        margin-left: 22px;
        color: $white;
        font-size: 22px;
      }
    }

    .user-info {
      display: flex;
      align-items: center;

      .username {
        color: $white;
        font-weight: 400;
      }

      .user-initials {
        background-color: $white;
        color: $black;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-left: 5px;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @media only screen and (max-width: 720px) {
    .wrapper {
      padding-left: 5px;
      padding-right: 5px;

      .company-logo {
        .logo {
          height: 40px;
          width: 40px;
        }

        .app-name h1 {
          font-size: 18px;
        }
      }

      .user-info .username {
        display: none;
      }
    }
  }
}
