@import "../../assets/utilities/variables";

.data-container {
  position: relative;
  width: fit-content;

  .player-container {
    position: relative;
    width: fit-content;

    .player {
      position: absolute;
      min-height: $playerSize;
      min-width: $playerSize;
      top: 7px;
      left: 8px;
      border-radius: 50%;
      background-image: url(../../assets/img/player.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      border: 5px solid #9f0d68;
      box-shadow: 10px 10px 10px rgba(132, 16, 126, 0.8),
        10px -10px 10px rgba(132, 16, 126, 0.8),
        -10px 10px 10px rgba(132, 16, 126, 0.8),
        -10px -10px 10px rgba(132, 16, 126, 0.8);
    }

    .dots {
      height: $playerSize + 15px;
      width: $playerSize + 15px;
      border-radius: 50%;
      border: 4px dashed #ad81c7;

      .percent {
        position: absolute;
        top: 0px;
        right: -80px;

        .dash {
          height: 2px;
          width: 75px;
          background-color: red;
        }
      }

      .percent h1 {
        font-size: 26px;
      }
    }
  }

  .player-not-dotted {
    position: relative;
    min-height: $playerSize;
    min-width: $playerSize;
    top: 7px;
    left: 8px;
    border-radius: 50%;
    background-image: url(../../assets/img/player.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #9f0d68;
    box-shadow: 5px 5px 7px rgba(132, 16, 126, 0.5),
      5px -5px 7px rgba(132, 16, 126, 0.5), -5px 5px 7px rgba(132, 16, 126, 0.5),
      -5px -5px 7px rgba(132, 16, 126, 0.5);

    .percent-not-dotted {
      position: absolute;
      top: 0px;
      right: -90px;

      .dash-not-dotted {
        height: 2px;
        width: 75px;
        background-color: red;
      }
    }

    .percent-not-dotted h1 {
      font-size: 26px;
    }
  }
}
