@import "../../assets/utilities/variables";

.player-container {
  h1 {
    color: $white;
    margin-bottom: 12px;
    font-size: 20px;
  }

  .player-content {
    display: flex;
    
    h2 {
      color: $white;
      margin-left: -4px;
      font-size: 20px;
    }

    .dash {
      height: 1px;
      width: 55px;
      background-color: $white;
    }

    .most-player {
      border-radius: 50%;
      border: 3px dashed #ad81c7;
      background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
      background-position: bottom;
      background-size: 3px 1px;
      background-repeat: repeat-x;
    }

    .user-initials {
      background-color: $white;
      color: $black;
      border-radius: 50%;
      height: $playerSize + 12px;
      width: $playerSize + 12px;
      margin: 2px;
      font-size: 18px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #9f0d68;
      box-shadow: 5px 5px 7px rgba(132, 16, 126, 0.5),
        5px -5px 7px rgba(132, 16, 126, 0.5), -5px 5px 7px rgba(132, 16, 126, 0.5),
        -5px -5px 7px rgba(132, 16, 126, 0.5);
    }
  }

  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 18px;
    }

    .player-content {
      flex-direction: column-reverse;

      h2 {
        font-size: 16px;
        margin-bottom: 10px;
      }

      .most-player {
        width: 123px;
      }
    }
  }
}
